[submodule "cofad"]
	path = cofad
	url = https://github.com/AnnuJoshi/cofad2020.git
[submodule "acss2020"]
	path = acss2020
	url = https://github.com/AnnuJoshi/acss2020.git
[submodule "CONSTRAINT-2021"]
	path = CONSTRAINT-2021
	url = https://github.com/LCS2-IIITD/CONSTRAINT-2021
[submodule "CONSTRAINT-2022"]
	path = CONSTRAINT-2022
	url = https://github.com/LCS2-IIITD/CONSTRAINT-2022.git
[submodule "ACSS-2021"]
	path = ACSS-2021
	url = https://github.com/LCS2-IIITD/ACSS-2021.git
[submodule "ICLrNLP-2022"]
	path = ICLrNLP-2022
	url = https://github.com/LCS2-IIITD/ICLrNLP-2022.git
[submodule "CONSTRAINT-2023"]
	path = CONSTRAINT-2023
	url = https://github.com/LCS2-IIITD/CONSTRAINT-2023.git
[submodule "tcs_icon2022_tutorial"]
	path = tcs_icon2022_tutorial
	url = https://github.com/LCS2-IIITD/tcs_icon2022_tutorial.git
[submodule "samsung_icon2022_tutorial"]
	path = samsung_icon2022_tutorial
	url = https://github.com/LCS2-IIITD/samsung_icon2022_tutorial.git
