[submodule "acss19"]
	path = acss19
	url = https://github.com/uditarora/acss19
[submodule "cofad"]
	path = cofad
	url = https://github.com/AnnuJoshi/cofad2020.git
[submodule "acss2020"]
	path = acss2020
	url = https://github.com/AnnuJoshi/acss2020.git
[submodule "CONSTRAINT-2021"]
	path = CONSTRAINT-2021
	url = https://github.com/LCS2-IIITD/CONSTRAINT-2021
