---
layout: default
title: 

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, staff]
    width: 12
    image: true

alum-role:
- - roles: [alum]
    width: 12
    image: false

---

<!-- Add this above for postdoc -->
  <!-- - roles: [postdoc]
    width: 12
    image: true -->


<!-- Showing Alum role separately -->
    {% for role-table in page.alum-role %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-12">
                    {% for role in role-column.roles %}
                        {% include alum-role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
