---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad,ra]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---
<div class="slider" id="main-slider"><!-- outermost container element -->
<div class="slider-wrapper"><!-- innermost wrapper element -->
  <img src="{{ site.base }}/img/lab-photos/1.jpg" alt="First" class="slide" /><!-- slides -->
  <img src="{{ site.base }}/img/lab-photos/2.jpg" alt="Second" class="slide" />
  <img src="{{ site.base }}/img/lab-photos/3.jpg" alt="Third" class="slide" />
  <img src="{{ site.base }}/img/lab-photos/4.jpg" alt="Four" class="slide" />
</div>
</div> 

<div class="jumbotron">
    <p>
        <a href="http://lcs2.iiitd.edu.in/"><b>Laboratory for Computational Social Systems (LCS2)</b></a> is a research group led by <a href="https://sites.google.com/site/tanmoychakra88/"><b>Dr. Tanmoy Chakraborty</b></a> at <a href="http://www.iiitd.ac.in"><b>Indraprastha Institute of Information Technology, Delhi (IIIT-Delhi)</b></a>. Broad research interests of this group includes <b>Data Mining</b>, <b>Complex Networks</b>, <b>Social Computing</b>, <b>Natural Language Processing</b> and <b>Data-driven Cybersecurity</b>.
    </p>
</div>
<section>
  <div style="width: 5%; float: left;"> <i class='fa fa-thumbs-o-up faa-vertical animated fa-2x' style="color:#0000ff;"></i></div>
    
  <h2>Current Openings</h2>
  <ul class="">
    <li>There is one PhD position and one RA position available under a DST-funded project. The work will involve data mining, data-driven understanding of different security aspects in online media. Interested candidates may directly send their CV to <b>Dr. Tanmoy Chakraborty</b> (<a href="mailto:tanmoy@iiitd.ac.in">tanmoy@iiitd.ac.in</a>) or <a href="mailto:lcs2@iiitd.ac.in">lcs2@iiitd.ac.in</a> with the subject line <b>"Interested for PhD position under DST project".</b></li>
  </ul>
</section>



<div style="width: 100%; overflow: hidden;">
    <div style="width: 5%; float: left;"> <i class='fa fa-space-shuttle faa-passing animated fa-2x' style="color:#0000ff;"></i></div>
    <div style="float:left;"> <h3>For internship opportunities, please send your CV/Resume to <a href="mailto:lcs2@iiitd.ac.in">lcs2@iiitd.ac.in</a></h3> </div>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<!-- Start of SimpleHitCounter Code -->
<div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=1826983947579454&autoLogAppEvents=1';
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="https://www.facebook.com/Laboratory-for-Computational-Social-Systems-IIIT-Delhi-306180076581946/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <!--Start of Tawk.to Script-->
<!-- <script ty<!-- pe="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5af2f8dc5f7cdf4f0533fec9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script> --> 

<!--End of Tawk.to Script-->

<!-- Start of SimpleHitCounter Code -->
<div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2360732&f=16777215&b=0" border="0" height="18" width="83" alt="web counter"></a></div>
<!-- End of SimpleHitCounter Code -->