---
layout: default
title: People

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 6
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad]
    width: 8
    image: false
  - roles: [alum]
    width: 8
    image: false
---

    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}

