---
layout: default
title: People

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, staff]
    width: 12
    image: true
  - roles: [grad]
    width: 12
    image: true
  - roles: [ra]
    width: 12
    image: true
- - roles: [pgrad, ugrad, alum]
    width: 12
    image: false
---

<!-- Add this above for postdoc -->
  <!-- - roles: [postdoc]
    width: 12
    image: true -->

<!-- Calling role-people.html -->

    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}


